
global = {
    c_gravity = 6.67408e-11
}

materials = (
{
    ID = 0
    name = "Test"
    sml = 1
    interactions = 30
    artificial_viscosity = { alpha = 1.0; beta = 2.0; }
            eos = {
        type = 2
        shear_modulus = 26900000000
        bulk_modulus = 52270000000
        # include EoS params
        @include "material_data/aluminum.till.cfg"
        rho_0 = 2000
        # EoS / porosity / plasticity parameters (populated from payload)
            till_rho_0 = 2700
        till_A = 0
        till_B = 1e+11
        till_E_0 = 100000
        till_a = 0.5
        till_b = 0.5
        porjutzi_p_elastic = 1e+06
        porjutzi_p_transition = 6.8e+07
        porjutzi_p_compacted = 2.13e+08
        porjutzi_alpha_0 = 2
        porjutzi_alpha_e = 4.64
        porjutzi_alpha_t = 1.9
        porjutzi_n1 = 12
        porjutzi_n2 = 3
        cs_porous = 100
        crushcurve_style = 0
        yield_stress = 3.5e+09
        cohesion = 1e+06
        friction_angle = 0.982794
        friction_angle_damaged = 0.54042
        rho_limit = 0.95
        cs_limit = 40
    }

}
);

