
global = {
    c_gravity = 6.67408e-11
}

materials = (
{
    ID = 0
    name = demo
    sml = 0.78
    interactions = 30
    artificial_viscosity = 1
            eos = {
        type = 1
        shear_modulus = 22700000000.0
        bulk_modulus = 10000000000.0
        # include EoS params
        @include "material_data/basalt.murn.cfg"
        # porosity params
        porjutzi_p_elastic = 1230000.0
        porjutzi_p_transition = 0
        porjutzi_p_compacted = 0
        porjutzi_alpha_0 = 0
        porjutzi_alpha_e = 0
        porjutzi_alpha_t = 0
        porjutzi_n1 = 0
        porjutzi_n2 = 0
        cs_porous = 0
        crushcurve_style = 0
        # plasticity params
        yield_stress = 4500000000.0
        cohesion = 0
        friction_angle = 0
        friction_angle_damaged = 0
        porjutzi_p_elastic = 1.23e+06
        yield_stress = 4.5e+09
    }

}
);

