
global = {
    c_gravity = 6.67408e-11
}

materials = (
{
    ID = 0
    name = "demo"
    sml = 1.0
    interactions = 10
    artificial_viscosity = 1
            eos = {
        type = 5
        shear_modulus = 0
        bulk_modulus = 10000000000.0
        # include EoS params
        @include "material_data/basalt.till.cfg"
        rho_0 = 2700
        # EoS / porosity / plasticity parameters (populated from payload)
            till_rho_0 = 2700
        till_A = 2.67e+10
        till_B = 2.67e+10
        till_E_0 = 4.87e+08
        till_E_iv = 4.72e+06
        till_E_cv = 1.82e+07
        till_a = 0.5
        till_b = 1.5
        till_alpha = 5
        till_beta = 5
        rho_limit = 0.9
        cs_limit = 30
    }

}
);

