
global = {
    c_gravity = 6.67408e-11
}

materials = (
{
    ID = 0
    name = demo
    sml = 0.78
    interactions = 30
    artificial_viscosity = 1
            eos = {
        type = 1
        shear_modulus = 22700000000.0
        bulk_modulus = 10000000000.0
        # include EoS params
        @include "material_data/basalt.murn.cfg"
        # EoS / porosity / plasticity parameters (populated from payload)
            porjutzi_p_elastic = 1.23e+06
        yield_stress = 4.5e+09
    }

}
);

